@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playwrite+AU+QLD:wght@100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
   margin: 0;
   padding: 0;
}

body {
   font-family: "Mulish", sans-serif;
   font-optical-sizing: auto;
   font-weight: <weight>;
   font-style: normal;
}

/* shared styles */
.display-flex,
.nav-title,
.nav-list ul {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.primary-color {
   color: #FF5400;
}

.font-color {
   color: rgba(19, 19, 24, 0.5);
}

.input-fild,
.input-file {
   width: 174px;
   height: 52px;
   color: rgba(19, 19, 24, 0.5);
   border-radius: 8px;
   padding: 16px;
   font-size: 1rem;
   border: none;
}

.btn-primary {
   width: 174px;
   height: 52px;
   border-radius: 8px;
   padding: 16px;
   font-size: 1rem;
   border: none;
   font-size: 1rem;
   color: rgba(255, 255, 255, 1);
   background-color: #FF5400;
}

/* nav styles section */
.sidebar {
   display: none;
}

.nav-bar {
   margin-top: 50px;
}

.nav-title {
   max-width: 273px;
   height: 48px;
   margin-left: 135px;
   gap: 15px;
   font-size: 2rem;
   font-weight: 800;
}

.trek-color {
   margin-left: -10px;
   color: #FF5400;
}

.nav-logo {
   width: 48px;
   height: 56px;
}

ul {
   gap: 44px;
}

.nav-list {
   margin-top: 30px;
   max-width: 506px;
   height: 43px;
   margin-right: 127px
}

.nav-lists {

   list-style: none;
}

.nav-lists .nav-link {
   text-decoration: none;
   color: rgba(66, 66, 71, 1)
}

#home-color {
   color: #FF5400;
}

.header-container {
   max-width: 1650px;
   height: 600px;
   margin: 50px auto;
   position: relative;
   overflow: hidden;
}

.image {
   width: 100%;
   height: 100%;
   position: absolute;
}

.header-content {
   position: relative;
   text-align: center;
}

.header-content>h3 {
   | width: 595px;
   height: 80px;
   font-size: 4rem;
   font-weight: 800;
   color: rgba(255, 255, 255, 1);
   margin-top: 105px;
}

.header-description {
   width: 675px;
   height: 50px;
   font-size: 1rem;
   color: rgba(255, 255, 255, 1);
   margin: 15px auto;
}

.input-layer {
   background-color: rgba(255, 255, 255, 0.3);
   width: 900px;
   height: 84px;
   border-radius: 16px;
   margin: 48px auto;
}

.select-tag {
   margin-right: 50px;
   margin: 0;
   padding: 0;

}

.input-fild {
   margin-left: 20px;
   height: 25px;

}

.input-file {
   margin-left: 50px;
}

.search-bar {
   margin-left: 25px;
   margin: 0 20px 0 25px;
   padding: 0;
}

.search-bar i {
   margin-left: 25px;
}

.search-bar h4 {
   margin-right: 30px;
}

/* section part1 */
.popular-tours {
   margin-left: 135px;
   align-items: center;
   margin-top: 103px;
}

.our-tours {
   max-width: 540px;
   height: 550px;
}

.popular-title {
   max-width: 365px;
   height: 50px;
   font-size: 2.5rem;
   font-weight: 900;
   color: rgba(19, 19, 24, 1);
}

.popular-description1,
.popular-description2 {
   max-width: 577px;
   height: 52px;
   font-size: 1rem;
   margin-top: 24px;
}

.ul {
   max-width: 525px;
   height: 188px;
   font-size: 1rem;
   margin-left: 15px;
}

.ul li {
   list-style: circle;
   margin-top: 24px;
}

.our-tours button {
   margin-top: 32px;
}

.images {
   max-width: 540px;
   height: 550px;
   margin-right: 135px;
}

/* part -2 */
.your-destination {
   max-width: 1920px;
   height: auto;
}

.destination-title {
   width: 478px;
   height: 50px;
   font-size: 2.25rem;
   font-weight: 900;
   margin: 25px auto;
}

.destination-describe {
   width: 643px;
   height: 52px;
   font-size: 1rem;
   margin: 10px auto;
   text-align: center;
}

.counrty-images {
   margin: 20px 135px;
}

.two-image,
.my-country {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.two-image img {
   width: 800px;
   height: 320px;
   border-radius: 16px;
}

.two-image,
.three-imges,
.my-country {
   gap: 24px;
   margin-top: 24px;
}

.three-imges {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.siril {
   width: 550px;
   height: 320px;

}

.northamerica {
   width: 650px;
   height: 320px;
}

.kash {
   width: 380px;
   height: 320px;
}

.bang {
   width: 700px;
   height: 320px;
}

.band {
   width: 900px;
   height: 320px;
}

.maldive,
.indo,
.siri,
.north,
.kasmir,
.ban,
.bandarbon {
   position: absolute;
   color: #ffffff;
   margin-top: 140px;
}

.maldive,
.indo,
.bandarbon {
   margin-left: 350px;
   font-size: 1.75rem;

}

.ban,
.north {
   margin-left: 250px;
   font-size: 1.75rem;
}

.kasmir {
   margin-left: 150px;
   font-size: 1.75rem;
}

.siri {
   margin-left: 200px;
   font-size: 1.75rem;
}

/* part-3 */
.choose-title {
   padding: 0;
   margin: 30px auto;
   width: 315px;
   height: 50px;
   font-size: 2.5rem;
   font-weight: 900;
}

.choose-description {
   width: 650px;
   height: 52px;
   font-size: 1rem;
   margin: 20px auto;
   text-align: center;
}

.card-itmes {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.price-card {
   grid-column: 1 / span 2;
   justify-self: center;
   background-color: #fff6f6;
   margin: 24px auto;
   width: 1000px;
   height: 285px;
   border-radius: 16px;
   border: 2px solid rgba(233, 68, 68, 0.05);
}

.hotel-card,
.service-card {
   width: 730px;
   height: 285px;
   border: none;
   border-radius: 16px;
}

.hotel-card {
   background-color: #fffbf7;
   margin-left: 135px;
   border: 2px solid rgba(251, 181, 99, 0.05);
}

.service-card {
   background-color: #f3fdff;
   margin-right: 135px;
   border: 2px solid rgba(41, 206, 246, 0.05);
   margin-left: 24px;
}

.hotel-card,
.service-card,
.price-card {
   padding: 32px;
}

.hotel-card img,
.service-card img,
.price-card img {
   margin-bottom: 32px;
}

.hotel-card h3,
.service-card h3,
.price-card h3 {
   margin-bottom: 20px;
}

/* part-4 */
.deals {
   color: #131318;
   font-size: 2.5rem;
   font-weight: 800;
   text-align: center;
}

.deals-description {
   color: rgba(19, 19, 24, 0.70);
   text-align: center;
   margin: 45px 0;
   margin-left: 625px;
   font-size: 1rem;
   font-weight: 400;
   line-height: 26px;
   width: 645px;
}

.tour-satorini {
   margin: 45px 0;
}

.tour {
   position: relative;
   max-width: 100%;
   height: 600px;
   margin-left: 135px;
   margin-right: 135px;
}

.tour-description {
   position: absolute;
   max-width: 580px;
   height: 390px;
   border-radius: 16px;
   border: 2px solid #FFF;
   background: rgba(255, 255, 255, 0.80);
   backdrop-filter: blur(2.5px);
   margin-left: 1000px;
   margin-top: 60px;
}

.tour2nd-description {
   margin-left: 100px;
}

.tour1st {
   position: absolute;
   width: 100%;
   height: 600px;
   object-fit: cover;
   border-radius: 16px;
}

.timeloaction {
   align-content: center;
   margin-top: 52px;
   margin-left: -45px;
   display: flex;
   justify-content: center;
}

.svg {
   margin-left: 24px;
}

.dtl {
   color: rgba(90, 90, 93, 1);
}

.tour-heading {
   color: #131318;
   font-family: Mulish;
   font-size: 1.5rem;
   font-weight: 800;
   margin-left: 74px;
   margin-top: 26px;
}

.toure-description {
   margin-left: 74px;
   margin-top: 16px;
   line-height: 25px;
   font-size: 1rem;
   font-weight: 400;
   color: #5A5A5D;
   width: 452px;
}

.price {
   color: #FF5400;
   font-size: 1.25rem;
   font-weight: 800;
   margin-left: 74px;
   margin-top: 16px;
}

.tour-btn {
   margin-left: 74px;
   margin-top: 24px;
}

/* part-5 */
.perfect-place {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 80px;
   margin-left: 135px;
   margin-bottom: 30px;
}

.place {
   max-width: 700px;
   height: 423px;
}

.simple-place {
   color: #131318;
   font-size: 2.5rem;
   font-weight: 800;
   line-height: 60px;
   width: 450px;
}

.place-description {
   width: 530px;
   color: #5A5A5D;
   font-style: 1rem;
   font-weight: 400;
   line-height: 26px;
   margin-top: 15px;
}

.unorder-list {
   margin-left: 20px;
   font-size: 1rem;
   font-weight: 700;
   line-height: 26px;
   width: 520px;
   margin-top: 20px;
}

.see-more {
   margin-top: 40px;
}

.video-graphy {
   position: relative;
   max-width: 700px;
   height: 423px;
}

.video {
   position: absolute;
   width: 700px;
   height: 423px;
}

.watch-video {
   position: absolute;
   width: 280px;
   color: #fff;
   margin: 200px;
   font-size: 1.5rem;
   font-weight: 700;
   line-height: 36px;
   text-align: center;
}

.push-button {
   position: absolute;
   display: flex;
}

.push {
   display: flex;
}

.pushh {
   margin-top: 350px;
   margin-left: 20px;
}

.time {
   color: #f3f3f3;
   margin-top: 350px;
   margin-left: 10px;
}

.mute {
   margin-top: 350px;
   margin-left: 500px;
}

.mute svg {
   margin-left: 5px;
}

.time-linee {
   position: absolute;
   width: 562px;
   height: 4px;
   margin-top: 400px;
   margin-left: 105px;
   border-radius: 8px;
   background: rgba(255, 255, 255, 0.30);
}

.time-line {
   position: absolute;
   margin-top: 400px;
   margin-left: 25px;
}

/* part-6 */

.newsletter {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   margin-top: 50px;
   margin-left: 135px;
   margin-bottom: 30px;
}

.news {
   width: 500px;
   height: 422px;
   border: 1px solid tomato;
   border-radius: 16px;
}

.letter {
   color: #131318;
   font-size: 1.5rem;
   font-weight: 800;
   margin-top: 40px;
   margin-left: 40px;
}

.news-description {
   margin-top: 20px;
   margin-left: 40px;
   width: 350px;
   font-size: 1rem;
   line-height: 26px;
   font-weight: 400;
   color: #5A5A5D;
}

.input-fildd {
   width: 400px;
   height: 20px;
   border-radius: 8px;
   margin-top: 20px;
   margin-left: 40px;
   background: rgba(19, 19, 24, 0.05);
   border: none;
   padding: 10px;
}

.input-fildd::placeholder {
   padding: 20px;
   color: rgba(19, 19, 24, 0.30);
}

.Subscribe-btn {
   margin-top: 20px;
   margin-left: 40px;
   width: 430px;
   font-size: 1.5rem;
}

.travel {
   position: relative;
   margin-right: 150px;
   height: 422px;
   width: 800px;
}

.travel-img {
   position: absolute;
   height: 422px;
   width: 800px;
}

.travelcom {
   text-align: center;
   position: absolute;
   width: 350px;
   height: 130px;
   transform: rotate(-19.628deg);
   border-radius: 16px;
   margin-top: 205px;
   margin-left: 407px;

}

.travelcom h3 {
   margin-top: 30px;
}
      /* footer section */
      footer{
         width: 100%;
         height: 350px;
         background: rgba(19, 19, 24, 0.05);
      }
      .footer-title{
        margin-left: 770px;
     }
     .footer-header{
      padding-top: 50px;
     }
      .footer-section{
      text-align: center;
      }
      .footer-description{
         width: 750px;
         color: #5A5A5D;
         font-size: 1rem;
         font-weight: 400;
         line-height: 26px;
         margin-top: 40px;
         margin-left: 580px;
      }
      .icons, .reserved{
         margin-top: 40px;
      }

/* Responsive design */

@media screen and (max-width: 600px) {
   .display-flex {
      flex-direction: column;
   }
      /* footer section */

      footer {
         width: 370px;
         height: 400px;
      }
.footer-header{
   margin-left: 150px;
}
      .footer-description {
         width: 300px;
         margin-left: 30px;
      }
   .two-image,
   .three-imges,
   .my-country,
   .card-itmes {
      display: flex;
      flex-direction: column;
   }

   .sidebar {
      display: block;
      margin-left: 90px;
   }

   .nav-title {
      margin-left: -100px;
   }

   .nav-list {
      display: none;
   }

   .image,
   .tour1st {
      width: 361px;
      height: 550px;
      margin: 0 25px 0 25px;
   }

   .header-content h3 {
      width: 205px;
      height: 28px;
      font-size: 1.25rem;
      margin: 30px auto;
   }

   .header-description {
      width: 304px;
      height: 63px;
      font-size: 1rem;
      margin: 8px auto;
   }

   .input-layer {
      width: 310px;
      height: 330px;
      margin-left: 57px;
   }

   .select-tag {
      margin-bottom: 150px;
   }

   .input-fild {
      margin-top: 10px;
   }

   .input-fild {
      width: 220px;
      margin-right: 12px;
   }

   .select-tag select,
   .search-bar {
      width: 255px;
      height: 52px;
   }

   .select-tag select {
      margin: 24px auto;
   }

   .search-bar {
      display: flex;
      flex-direction: row;
   }

   .search-bar i {
      margin-left: 70px;
   }

   .search-bar h4 {
      margin-right: 70px;
   }

   .our-tours {
      width: 361px;
      height: 550px;
      margin-left: -130px;
   }

   .images img {
      width: 361px;
      height: 450px;
      margin: 0;
      margin-top: -50px;
   }

   .popular-title {
      margin-top: -100px;
      margin-bottom: 60px;
   }

   .our-tours button {
      margin-top: 60px;
   }

   .destination-title {
      max-width: 300px;
      height: 25px;
      font-size: 1.25rem;
      font-weight: 900;
   }

   .destination-describe {
      max-width: 290px;
      height: 72px;
   }

   .counrty-images {
      margin-left: 25px;
      margin-right: 0;
   }

   .two-image img {
      max-width: 361px;
      height: 300px;
      margin-left: 0;

   }

   .three-imges img {
      max-width: 361px;
      height: 300px;
      margin-left: 0;
   }

   .my-country img {
      max-width: 361px;
      height: 300px;
      margin-left: 0;
   }

   .maldive,
   .indo,
   .siri,
   .north,
   .kasmir,
   .ban,
   .bandarbon {
      margin-left: 100px;
   }

   .choose-title {
      width: 134px;
      height: 25px;
      font-size: 1.25rem;
   }

   .choose-description {
      width: 310px;
      height: 72px;
      font-size: 1rem;
   }

   .hotel-card,
   .service-card,
   .price-card {
      max-width: 290px;
      height: 280px;
      margin-top: 15px;
      margin-left: 25px;
   }

   /* part-4 */
   .deals-description {
      margin-left: 30px;
      max-width: 325px;
   }

   .tour1st {
      margin-left: -110px;
   }

   .tour-description {
      margin-left: -102px;
      width: 340px;
   }

   .timeloaction {
      margin-left: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }

   .tour-heading,
   .toure-description {
      margin-left: 35px;
      width: 290px;
   }

   .price,
   .tour-btn {
      margin-left: 35px;
   }

   /* part-5 */
   .perfect-place,
   .newsletter {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin-left: 25px;
   }

   .simple-place {
      margin-left: 25px;
      width: 250px;
      line-height: 30px;
      font-size: 1.75rem;
   }

   .place-description {
      width: 345px;
      font-size: 14px;
      line-height: 24px;
   }

   .unorder-list {
      width: 340px;
      font-size: 14px;
      line-height: 24px;
   }

   .see-more {
      margin-left: -10px;
   }

   .video {
      width: 340px;
   }

   .watch-video {
      margin-left: 54px;
   }

   .mute {
      margin-left: 150px;
   }

   .time-linee {
      width: 215px;
   }

   /* part-6 */
   .news {
      width: 340px;
   }
   .input-fildd{
      width: 250px;
   }
   .news-description {
      width: 290px;
   }

   .Subscribe-btn {
      width: 250px;
   }

   .travel {
      margin-top: 30px;
   }

   .travel-img {
      width: 340px;
   }

   .travelcom {
      width: 250px;
      margin-top: 222px;
      margin-left: 43px;
   }

}

/* responsive for laptop */
@media screen and (min-width: 900px) and (max-width: 1200px) {
   .nav-title {
      margin-left: 10px;
      margin-right: 0;
   }

   .nav-list {
      margin-right: 25px;
   }

   ul .nav-lists {
      margin-left: -10px;
   }

   .popular-tours {
      margin-top: 150px;
   }

   .our-tours {
      width: 361px;
      height: 550px;
      margin-left: -80px;
   }

   .images img {
      width: 361px;
      height: 450px;
      margin: 0;
      margin-top: -50px;
      margin-right: -80px;
   }

   .popular-title {
      margin-top: -100px;
      margin-bottom: 60px;
   }

   .our-tours button {
      margin-top: 60px;
   }

   .counrty-images {
      margin-left: 25px;
      margin-right: 0;
   }

   .two-image img {
      max-width: 400px;
      height: 300px;
      margin-left: 0;

   }

   .siril {
      width: 250px;
      height: 320px;

   }

   .northamerica {
      width: 350px;
      height: 320px;
   }

   .kash {
      width: 200px;
      height: 320px;
   }

   .bang {
      width: 350px;
      height: 320px;
   }

   .band {
      width: 390px;
      height: 320px;
   }

   .maldive,
   .indo,
   .siri,
   .north,
   .kasmir,
   .ban,
   .bandarbon {
      margin-left: 50px;
   }

   .hotel-card,
   .service-card,
   .price-card {
      max-width: 350px;
      height: 280px;
      margin-top: 15px;
      margin-left: 25px;
   }

   .price-card {
      margin-left: 25%;
   }

   .deals-description {
      margin-left: 140px;
   }

   .tour {
      width: 850px;
      margin-left: 25px;
   }

   .tour1st {
      width: 850px;
   }

   .tour-description {
      margin-left: 280px;
   }

   /* part-5 */
   .perfect-place,
   .newsletter {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-left: 25px;
   }

   .simple-place {
      margin-left: 25px;
      width: 250px;
      line-height: 30px;
      font-size: 1.75rem;
   }

   .place-description {
      width: 345px;
      font-size: 14px;
      line-height: 24px;
   }

   .unorder-list {
      width: 340px;
      font-size: 14px;
      line-height: 24px;
   }

   .see-more {
      margin-left: -10px;
   }

   .video {
      width: 360px;
   }

   .watch-video {
      margin-left: 54px;
   }

   .mute {
      margin-left: 150px;
   }

   .time-linee {
      width: 215px;
   }

   /* part-6 */
   .news {
      width: 340px;
   }

   .news-description {
      width: 290px;
   }

   .Subscribe-btn,
   .input-fild {
      width: 250px;
   }

   .travel {
      margin-top: 30px;
   }

   .travel-img {
      width: 400px;
      margin-left: 100px;
      margin-top: -30px;
   }

   .travelcom {
      width: 250px;
      margin-top: 192px;
      margin-left: 203px;
   }
}